<h1>Active Groups</h1>

<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %>
    <% if group.has_member?(current_user) %>
      <b><i>Member</i></b><form action="<%= group_path(group) %>" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="group_action" value="leave">
        <input type="submit" value="Leave Group">
      </form></li><br>

    <% else %>
    <form action="<%= group_path(group) %>" method="post" style="display:inline;">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="group_action" value="join">
      <input type="submit" value="Join Group">
    </form></li><br>
    <% end %>
  <% end %>
</ul>
<%= link_to "Back", user_path %>
