<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-warning" role="alert"><strong style="color: red;"><%= flash[:notice] %></strong></div>
  <% end %>
  <br>
  <h2>My Groups</h2>
  <br>
  <ul>
    <% current_user.groups.each do |group| %>
      <li><%= link_to group.name, group %> <b><i>Member</i></b>
        <form action="<%= group_path(group) %>" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="group_action" value="leave">
          <input type="submit" class="btn-default btn-sm" value="Leave Group">
        </form></li><br>
    <% end %>
    <% if current_user.groups.length == 0 %>
      <li>NONE</li>
    <% end %>
  </ul>
    <h2>Groups Available to Join</h2>
    <br>
    <ul>
      <% @groups.each do |group| %>
        <% if !group.has_member?(current_user) %>
          <li><%= link_to group.name, group %>
            <form action="<%= group_path(group) %>" method="post" style="display:inline;">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="group_action" value="join">
              <input type="submit" class="btn-default btn-sm" value="Join Group">
            </form>
          </li><br>
        <% end %>
    <% end %>
    <% if current_user.groups.length == @groups.length %>
    <li>NONE</li><br>
    <% end %>
    <br>
    <a href="<%= new_group_path %>" class="btn btn-blue">Create New Group</a>
  </ul>
</div>
