<h1>Edit</h1>

<%= form_for @user, url: user_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.submit %>
  <br>
<<<<<<< HEAD
=======
  <%= link_to "Delete Account", user_path, :method => "delete" %>
>>>>>>> b9f7228232160c79c0afd3a13110b67908b1f931
<% end %>

<br>
<%= button_to "Delete Account", user_path, :method => "delete" %>
