<h1>Edit</h1>

<%= form_for @user, url: user_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
  <br>
  <%= button_to "Delete Account", user_path, :method => "delete" %>
<% end %>
