<div class="container">
  <br>
  <h1><%= current_user.name %></h1>
  <br>

  <h3>My Tasks <a href="<%= new_task_path %>" class="btn btn-primary btn-sm">New Task</a></h3>

  <% if current_user.created_tasks.count == 0 && current_user.owned_tasks.count == 0%>
    <li>none</li>
  <% else %>
    <%= render partial: 'tasks/table', locals: {collection: current_user.owned_tasks} %>
    <h3>My Created Tasks</h3>
    <%= render partial: 'tasks/table', locals: {collection: current_user.created_tasks} %>
  <% end %>

  <br>
  <br>

  <%= render partial: 'events/table', locals: {sorted_events: @sorted_events} %>
</div>
