<div class="container">
  <br>
  <h1><%= current_user.name %></h1>
  <br>
  <div class="row">
    <div class="col-2">
      <p><%= link_to 'My Tasks', user_path(user_action: "my_tasks") %></p>
      <p><%= link_to 'My Created Tasks', user_path("user_action" => "my_created_tasks") %></p>
      <p><%= link_to 'My Events', user_path("user_action" => "my_events") %></p>
    </div>
    <div class="col-7">
      <% if current_user.created_tasks.count == 0 && current_user.owned_tasks.count == 0%>
      <li>none</li>
      <% else %>
        <% case params["table"] %>
        <% when "my_tasks" %>
          <%= render partial: 'tasks/table', locals: {collection: current_user.owned_tasks} %>
        <% when "my_created_tasks" %>
          <%= render partial: 'tasks/table', locals: {collection: current_user.created_tasks} %>
        <% when "my_events" %>
          <%= render partial: 'events/table', locals: {sorted_events: @sorted_events} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
