.row
  .col-sm-2
    #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
      = link_to "My Tasks", user_path(user_action: "my_tasks"), class: "nav-link"
      = link_to "My Created Tasks", user_path(user_action: "my_created_tasks"), class: "nav-link"
      = link_to "My Events", user_path(user_action: "my_events"), class: "nav-link"

  .col-sm-10
    - if current_user.created_tasks.empty? && current_user.owned_tasks.count == 0
      %li none
    - else
      - case params["table"]
      - when "my_created_tasks"
        = render partial: 'cards', locals: {collection: current_user.created_tasks}
      - when "my_events"
        = render partial: 'events/table', locals: {sorted_events: @sorted_events}
      - else
        = render partial: 'cards', locals: {collection: current_user.owned_tasks}
