<h1><%= current_user.name %></h1>
<h2>Current Groups</h2>
<ul>
  <% if current_user.groups.count == 0 %>
    <li>none</li>
  <% else %>
    <% current_user.groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
  <% end %>
</ul>
<p><%= link_to "See All Groups", groups_path %></p>

<h2><%= link_to "My Tasks", tasks_path %></h2>
<h2><%= link_to "My Events", events_path %></h2>


<p><%= link_to "Edit", edit_user_path %></p>

<%= link_to "Logout", session_path, :method => "delete" %>
