<h1><%= current_user.name %></h1>
<br>

<h3>My Tasks</h3>

<br>

<% if current_user.created_tasks.count == 0 && current_user.owned_tasks.count == 0%>
  <li>none</li>
<% else %>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Assigned To</th>
        <th>Created</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.created_tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task_path(task) %></td>
          <% if task.creator == current_user && task.owner == current_user %>
            <td>You</td>
            <td>You</td>
          <% else %>
            <td>You</td>
            <td><%= task.owner.name %></td>
          <% end %>
          <td><%= task.created_at.strftime("%m/%d/%y") %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>

      <% current_user.owned_tasks.each do |task| %>
        <% if !current_user.created_tasks.include?(task) %>
          <tr>
            <td><%= link_to task.title, task_path(task) %></td>
            <td><%= task.creator.name %></td>
            <% if task.owner == current_user %>
              <td>You</td>
            <% else %>
              <td><%= task.owner.name %></td>
            <% end %>
            <td><%= task.created_at.strftime("%m/%d/%y") %></td>
            <td><%= task.status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<div class="container">

<h3>Upcoming Events</h3>

<div class="agenda">
  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Event</th>
        </tr>
      </thead>
        <tbody>
          <% sorted = current_user.created_events.sort{|x,y| x.starts_at <=> y.starts_at} %>
          <% date = [] %>
          <% sorted.each do |event| %>
            <% if event.starts_at.strftime("%d") != date %>
              <tr>
                <td class="agenda-date" class="active" rowspan="<%= sorted.count {|e| e.starts_at.strftime("%d") == event.starts_at.strftime("%d")} %>">
                  <div class="dayofmonth"><%= event.starts_at.strftime("%d") %></div>
                  <div class="dayofweek"><%= event.starts_at.strftime("%A") %></div>
                  <div class="shortdate text-muted"><%= event.starts_at.strftime("%B, %Y") %></div>
                </td>
                <td class="agenda-time">
                  <% if event.starts_at.strftime("%I:%M") == event.ends_at.strftime("%I:%M") %>
                    All Day
                  <% else %>
                    <%= event.starts_at.strftime("%I:%M %p") %> - <%= event.ends_at.strftime("%I:%M %p") %>
                  <% end %>
                </td>
                <td class="agenda-events">
                  <div class="agenda-event">
                    <%= link_to event.title, event %>
                  </div>
                </td>
                <% date = event.starts_at.strftime("%d") %>
              <% else %>
                <td class="agenda-time">
                  <% if event.starts_at.strftime("%I:%M") == event.ends_at.strftime("%I:%M") %>
                    All Day
                  <% else %>
                    <%= event.starts_at.strftime("%I:%M %p") %> - <%= event.ends_at.strftime("%I:%M %p") %>
                  <% end %>
                </td>
                <td class="agenda-events">
                  <div class="agenda-event">
                    <%= link_to event.title, event %>
                  </div>
                </td>
              <% end %>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
