<h1><%= @type.pluralize %></h1>

<% if flash[:notice] %>
  <div class="notice"><strong style="color: red;"><%= flash[:notice] %></strong></div>
<% end %>

<h3><%= @type.pluralize %> You Own:</h3>
<ul>
  <% @owned.each do |t| %>
  <li><%= link_to t.title, t %></li>
  <% end %>
</ul>
<br>
<h3><%= @type.pluralize %> Created:</h3>
<ul>
  <% @created.each do |t| %>
  <li><%= link_to t.title, t %> <%= t.owner.name if t.owner %></li>
  <% end %>
</ul>

<%= link_to "Create New #{@type}", send("new_#{@type.downcase}_path") %>
