<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-warning" role="alert"><strong style="color: red;"><%= flash[:notice] %></strong></div>
  <% end %>
  <br>

  <% if @type == 'Task' %>
    <h3>Your <%= @type.pluralize %>  <a href="<%= new_task_path %>" class="btn btn-blue btn-sm">New Task</a></h3>
    <br>
    <%= render partial: 'table', locals: {collection: current_user.owned_tasks} %>

    <h3>Unassigned <%= @type.pluralize %></h3>
    <%= render partial: 'table', locals: {collection: @unassigned} %>

    <h3>Tasks You Created:</h3>
    <%= render partial: 'table', locals: {collection: @created} %>

  <% else %>
    <%= render partial: 'events/table', locals: {sorted_events: @sorted_events} %>
  <% end %>
</div>
