<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgileLife</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application.css" %>
</head>

<body>



<div class="container-fluid">
  <div class="topnav">
    <a class="active" href="<%= user_path %>">Home</a>
    <a href="<%= groups_path %>">Groups</a>
    <a href="<%= tasks_path %>">Tasks</a>
    <a href="<%= events_path %>">Events</a>
    <% if !current_user %>
      <a class="right-navbar" href="/session/new">Log In</a>
      <a class="right-navbar" href="/user/new">Create Account</a>
    <% else %>
      <a class="right-navbar" href="#">Logout</a>
      <a class="right-navbar" href="<%= edit_user_path %>">Edit User Profile</a>
    <% end %>
  </div>

  <%= yield %>
</div>

</body>
</html>
